.project-card {
    max-width: 400px;
    margin-right: 29px;
    margin-left: 29px;
    grid-row: 1;
}

.card-content {
  white-space: nowrap;
  overflow: auto;
}

.project-list {
  margin-top: 12px;
  display: inline-grid;
}