<div class="project-list">
    <mat-card class="project-card" appearance="outlined">
        <mat-card-header>
            <mat-icon class="game-icon" fontIcon="sports_esports"></mat-icon>
            <div>
                <mat-card-title>ToPlayList</mat-card-title>
                <mat-card-subtitle>API REST inspirada pelo site <a href="https://backloggd.com/">backloggd.com</a></mat-card-subtitle>
            </div>
        </mat-card-header>
        <mat-card-content>
            <p class="card-content">
                API REST criada com Spring Web, Spring Security, Spring Data JPA e PostgreSQL com a finalidade de organizar
                os jogos que você planeja jogar,
                foi inspirada no site <a href="https://backloggd.com/">backloggd.com</a> que tem um proposito similar, além
                de possuir outras features que não foram implementadas aqui.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>VISITAR NO GITHUB</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="project-card" appearance="outlined">
        <mat-card-header>
            <mat-icon class="game-icon" fontIcon="attach_money"></mat-icon>
            <div>
                <mat-card-title>Loto-Gen</mat-card-title>
                <mat-card-subtitle>API para gerar números de loteria aleatórios</mat-card-subtitle>
            </div>
        </mat-card-header>
        <mat-card-content>
            <p class="card-content">
                API REST criada com Spring Web, Spring Security, Spring Data JPA e PostgreSQL com a finalidade de gerar números aleatórios para 
                alguns tipos de loterias brasileiras, possui autenticação OAuth2 e armazenamento de um histórico de números gerados
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>VISITAR NO GITHUB</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="project-card" appearance="outlined">
        <mat-card-header>
            <mat-icon class="game-icon" fontIcon="savings"></mat-icon>
            <div>
                <mat-card-title>Capivara Finance</mat-card-title>
                <mat-card-subtitle>API REST para controle de finanças pessoais</mat-card-subtitle>
            </div>
        </mat-card-header>
        <mat-card-content>
            <p class="card-content">
                API criada com Spring Boot, Spring Security e PostgreSQL, além de JUnit e Mockito para os 
                testes unitários. Fornece funcionalidades como cadastro de despesas, ganhos e filtragem de 
                dados cadastrados. Também possui autenticação com Token JWT.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>VISITAR NO GITHUB</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="project-card" appearance="outlined">
        <mat-card-header>
            <mat-icon class="game-icon" fontIcon="cases"></mat-icon>
            <div>
                <mat-card-title>Senior Sistemas (Emprego Atual)</mat-card-title>
                <mat-card-subtitle>HCM Data Office</mat-card-subtitle>
            </div>
        </mat-card-header>
        <mat-card-content>
            <p class="card-content">
                Atualmente atuo na equipe do HCM Data Office na Senior Sistemas, desenvolvendo principalmente 
                a nova hierarquia que será compativel com multiplos gestores e também um software de pesquisa 
                salarial, que visa auxiliar no processo de decisão de salários para colaboradores de empresas
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>VISITAR NO GITHUB</button>
        </mat-card-actions>
    </mat-card>
</div>
