<div class="project-list">
    <mat-card class="project-card" appearance="outlined">
        <mat-card-header>
            <mat-icon class="game-icon" fontIcon="sports_esports"></mat-icon>
            <div>
                <mat-card-title>ToPlayList</mat-card-title>
                <mat-card-subtitle>API REST inspirada pelo site <a href="https://backloggd.com/">backloggd.com</a></mat-card-subtitle>
            </div>
        </mat-card-header>
        <mat-card-content>
            <p class="card-content">
                API REST criada com Spring Web, Spring Security,<br>
                Spring Data JPA e PostgreSQL com a finalidade de<br> 
                organizar os jogos que você planeja jogar. Foi<br> 
                inspirada no site <a href="https://backloggd.com/">backloggd.com</a>, que tem um<br> 
                proposito similar, além de possuir outras<br> 
                features que não foram implementadas aqui.<br>
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>VISITAR NO GITHUB</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="project-card" appearance="outlined">
        <mat-card-header>
            <mat-icon class="game-icon" fontIcon="attach_money"></mat-icon>
            <div>
                <mat-card-title>Loto-Gen</mat-card-title>
                <mat-card-subtitle>API para gerar números de loteria aleatórios</mat-card-subtitle>
            </div>
        </mat-card-header>
        <mat-card-content>
            <p class="card-content">
                API REST criada com Spring Web, Spring Security,<br>
                Spring Data JPA e PostgreSQL com a finalidade de<br>
                gerar números aleatórios para alguns tipos de<br> 
                loterias brasileiras. Possui autenticação OAuth2<br> 
                e armazenamento de um histórico de números<br>
                gerados
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>VISITAR NO GITHUB</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="project-card" appearance="outlined">
        <mat-card-header>
            <mat-icon class="game-icon" fontIcon="savings"></mat-icon>
            <div>
                <mat-card-title>Capivara Finance</mat-card-title>
                <mat-card-subtitle>API REST para controle de finanças pessoais</mat-card-subtitle>
            </div>
        </mat-card-header>
        <mat-card-content>
            <p class="card-content">
                API criada com Spring Boot, Spring Security e<br> 
                PostgreSQL, além de JUnit e Mockito para os<br>
                testes unitários. Fornece funcionalidades como<br>
                cadastro de despesas, ganhos e filtragem de<br>
                dados cadastrados. Também possui autenticação<br>
                com Token JWT.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>VISITAR NO GITHUB</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="project-card" appearance="outlined">
        <mat-card-header>
            <mat-icon class="game-icon" fontIcon="cases"></mat-icon>
            <div>
                <mat-card-title>Senior Sistemas (Emprego Atual)</mat-card-title>
                <mat-card-subtitle>HCM Data Office</mat-card-subtitle>
            </div>
        </mat-card-header>
        <mat-card-content>
            <p class="card-content">
                Atualmente atuo na equipe do HCM Data Office na<br>
                Senior Sistemas, desenvolvendo principalmente<br> 
                a nova hierarquia que será compativel com<br> 
                multiplos gestores e também um software de<br> 
                pesquisa salarial que visa auxiliar no<br> 
                processo de decisão de salários para<br> 
                colaboradores de empresas<br>
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>VISITAR NO GITHUB</button>
        </mat-card-actions>
    </mat-card>
</div>
