.project-card {
    max-width: 400px;
    margin-right: 29px;
    margin-left: 29px;
    grid-row: 1;
}

.card-content {
  white-space: nowrap;
  overflow: auto;
}

.icon {
  margin-top: 1px;
  margin-right: 8px;
}

.project-list {
  margin-top: 12px;
  display: inline-grid;
}

a {
  color: rgb(0, 223, 223);
}

.github-button {
  text-decoration: none;
}