<mat-card class="information" appearance="outlined">
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Sobre mim">
        <div>
          <p class="about-me">
            Olá, me chamo Vinícius Matiola Tramontin e atualmente atuo como Desenvolvedor Fullstack na Senior Sistemas.
            Possuo experiência com as linguagens de
            programação Java, Javascript e Typescript (também possuo um pouco de conhecimento em Python), com os
            frameworks Spring, Angular e com os bancos de dados PostgreSQL e SQLServer
            (e um pouco com MySQL também). Possuo noções básicas de Docker e RabbitMQ, além de utilizar o Git como
            sistema de versionamento para meus projetos. Também conheço alguns
            padrões de projeto como MVC, DRY e Factory e possuo Inglês Intermediário (Leitura e Escrita). Além disso
            estou cursando a faculdade de Ciência da Computação na FURB (Universidade
            Regional de Blumenau).
          </p>
        </div>
      </mat-tab>
      <mat-tab label="Projetos"> <project-list></project-list> </mat-tab>
      <mat-tab label="Habilidades"> Content 3 </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>