.faq {
    margin-top: 18px;
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 18px;
}

.information {
    margin-top: 18px;
    margin-left: 18px;
    margin-bottom: 18px;
    margin-right: 18px;
}

@media(min-width: 800px) {
    .about-me {
        font-size: 33px;
        white-space: nowrap;
        text-align: center;
        overflow: auto;
    }
}

@media(max-width: 800px) {
    .about-me {
        white-space: nowrap;
        text-align: center;
        overflow: auto;
    }
}

h1 {
    grid-row: 1;
    font-size: 46px;
}

.pfp {
    background-image: url('../../../../public/1715887344391.jpg');
    background-size: cover;
    border-style: outset;
    border-color: rgb(0, 206, 206);
    width: 58px;
    height: 58px;
    grid-row: 1;
    margin-top: 12px;
    margin-right: 10px;
}

.header-in {
    display: inline-grid;
    align-items: center;
}

.header {
    text-align: center;
}

.faq-h1 {
    text-decoration: underline;
}